.container
	width: 1300px
	margin: auto
.section
	// padding-bottom: 30px
a 
	text-decoration: none
img
	max-width: 100%	

@media ( max-width: 1200px )
	.container
		width: 960px
		margin: auto
		
@media ( max-width: 760px )
	.container
		max-width: 700px
		width: 95%
@media ( max-width: 500px )
	.container
		max-width: 300px
		width: 95%
		