.hero
	background-color: #54a3da
	background-image: linear-gradient(to top, rgba(147, 147, 147, 0.15) 0%, rgba(217, 239, 255, 0.15) 44%, rgba(193, 193, 193, 0.15) 100%)
	&-block
		display: flex
	&-text
		flex-basis: 50%
		// flex-direction: column
		// padding-right: 120px
		&__title
			margin-top: 240px
			margin-bottom: 20px
			width: 500px
			color: $color-title
			font-size: 52px
			line-height: 72px
			text-transform: uppercase	
			+bold-ub
		&__subtitle
			font-size: 24px
			color: $color-subtitle
			+light-ub	
		&__subtext
			font-size: 16px
			color: $color-subtitle
			margin-top: 70px
			margin-bottom: 37px	
			+med-ub
		&__subtext span
			background-color: $color-free
			border-radius: 5px
			padding: 5px 6px
			font-size: 15px
			+bold-ub
			

	&__input
		width: 423px
		margin-right: 36px
		font-size: 18px
		+light-ub
	&__button
		width: 113px
		color: $color-subtitle
		text-transform: uppercase
		font-size: 18px
		+med-ub
	&-image
		margin-top: 91px
		margin-left: 90px	
		position: relative
		bottom: -33px
	&-fotter
		background-color: $color-hero_footer
		&__icon
			display: flex
			padding: 55px
			justify-content: space-around
			align-items: center
			opacity: 0.7




	