@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'fontawesome';
  font-display: swap;
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("O"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("O"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 1300px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 700px;
    width: 95%;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 300px;
    width: 95%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__menu {
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: #2d394c;
  text-align: center;
}

@media (min-width: 1200px) {
  .navbar__menu-shadow {
    text-shadow: 2px 1px 3px grey;
  }
}

@media (max-width: 786px) {
  .navbar-image {
    width: 80%;
  }
  .navbar-menu {
    padding-left: 10px;
  }
  .navbar__menu {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .navbar-image {
    width: 100%;
  }
  .navbar-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-menu {
    margin-top: 20px;
  }
  .navbar__menu {
    padding: 0;
  }
}

.head {
  background-color: #54a3da;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 147, 147, 0.15)), color-stop(44%, rgba(217, 239, 255, 0.15)), to(rgba(193, 193, 193, 0.15)));
  background-image: linear-gradient(to top, rgba(147, 147, 147, 0.15) 0%, rgba(217, 239, 255, 0.15) 44%, rgba(193, 193, 193, 0.15) 100%);
}

.head__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.head__title {
  color: #f7f6f2;
  width: 482px;
}

.head__text {
  font-size: 52px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  padding-top: 230px;
}

.head__title p:nth-last-child(2) {
  font-size: 22px;
  padding-top: 42px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.head__title p:nth-last-child(1) {
  font-size: 16px;
  padding-top: 62px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-bottom: 37px;
}

.head__title span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  background: #ffce54;
  padding: 4px;
  border-radius: 5px;
}

.head__image {
  position: relative;
  bottom: -3px;
  margin-top: 101px;
}

.button {
  background: #77c344;
  margin-left: 35px;
  padding: 21px 25px;
  border-radius: 10px;
  color: #f7f6f2;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 21px;
  padding-right: 243px;
  font-size: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.logo {
  background: #f8f8f8;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 59px;
  padding-bottom: 56px;
}

.info {
  position: relative;
}

.info__text {
  opacity: 0.85;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #2d394c;
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__image {
  background: url("../img/info/macbook.jpg") 0 0 no-repeat;
  width: 1026px;
  height: 652px;
  position: relative;
  right: -90px;
  top: -25px;
}

.column__title {
  color: #2d394c;
  opacity: 0.9;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-left: 80px;
}

.column__subtitle {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 28px;
  color: #9499a2;
  line-height: 1.4;
}

.column__block1::before {
  content: '';
  background: url("../img/info/icon/1-layers.png") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -5px;
  left: 0;
}

.column__block2:before {
  content: '';
  background: url("../img/info/icon/2-layers.svg") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -15px;
  left: 0;
}

.column__block3:before {
  content: '';
  background: url("../img/info/icon/3-layers.svg") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  left: 0;
}

.column__block4:before {
  content: '';
  background: url("../img/info/icon/4-layers.png") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -15px;
  left: 0;
}

.block {
  width: 482px;
  padding-bottom: 53px;
  position: relative;
}

.slider {
  position: relative;
}

.slider-bg {
  background: url("../img/slider/bg-block.png") 0 0;
}

.h2 {
  padding-top: 164px;
  padding-bottom: 170px;
  font-size: 40px;
  text-transform: uppercase;
  color: #2d394c;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.info__h2 {
  padding-bottom: 40px;
  padding-left: 80px;
  font-size: 28px;
  color: #2d394c;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.info__h2:before {
  content: '';
  background: url("../img/slider/icon3.png") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  left: 0;
}

.info__text2 {
  max-width: 725px;
  max-height: 140px;
  font-size: 16px;
  margin-bottom: 191px;
  font-family: 'fontawesome', sans-serif;
  font-weight: 400;
  line-height: 32px;
  overflow: auto;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 57px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 40px;
  background: url("../img/slider/icons/sl-arrow_l.svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 40px;
  background: url("../img/slider/icons/sl-arrow_r.svg") 0 0/100% no-repeat;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 85%;
  margin-left: 46%;
}

.slick-dots li {
  margin: 0 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  border-radius: 50%;
  background-color: #64a4d7;
  color: #f7f6f2;
}

/* Элемент точки */
.slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.time__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: #2d394c;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 147px;
  padding-bottom: 48px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.subtitle {
  font-size: 24px;
  color: #2d394c;
  margin-bottom: 63px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.form {
  padding-bottom: 104px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 21px;
  padding-right: 243px;
  padding-left: 60px;
  font-size: 15px;
  border-radius: 4px;
  font-size: 18px;
  background: url("../img/time/Shape.png") 0 0 no-repeat;
  background-position: 11px 50%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.button {
  background: #77c344;
  margin-left: 35px;
  padding: 27px 57px;
  border-radius: 10px;
  color: #f7f6f2;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
