@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'fontawesome';
  font-display: swap;
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("O"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("O"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 1300px;
  margin: auto;
}

.section {
  padding: 30px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 21px 21px;
  font-size: 15px;
  border-radius: 8px;
}

.button {
  border-radius: 8px;
  background-color: #77c344;
  border: none;
  padding: 21px 25px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: #a1d67e;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 700px;
    width: 95%;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 300px;
    width: 95%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__menu {
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: #2d394c;
  text-align: center;
}

@media (min-width: 1200px) {
  .navbar__menu-shadow {
    text-shadow: 2px 1px 3px grey;
  }
}

@media (max-width: 786px) {
  .navbar-image {
    width: 80%;
  }
  .navbar-menu {
    padding-left: 10px;
  }
  .navbar__menu {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .navbar-image {
    width: 100%;
  }
  .navbar-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-menu {
    margin-top: 20px;
  }
  .navbar__menu {
    padding: 0;
  }
}

.hero {
  background-color: #54a3da;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 147, 147, 0.15)), color-stop(44%, rgba(217, 239, 255, 0.15)), to(rgba(193, 193, 193, 0.15)));
  background-image: linear-gradient(to top, rgba(147, 147, 147, 0.15) 0%, rgba(217, 239, 255, 0.15) 44%, rgba(193, 193, 193, 0.15) 100%);
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  margin-top: 240px;
  margin-bottom: 20px;
  width: 500px;
  color: #f7f6f2;
  font-size: 52px;
  line-height: 72px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.hero-text__subtext {
  font-size: 16px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 37px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.hero-text__subtext span {
  background-color: #ffce54;
  border-radius: 5px;
  padding: 5px 6px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.hero__input {
  width: 423px;
  margin-right: 36px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.hero__button {
  width: 113px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.hero-image {
  margin-top: 91px;
  margin-left: 90px;
  position: relative;
  bottom: -33px;
}

.hero-fotter {
  background-color: #f8f8f8;
}

.hero-fotter__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
}

.info {
  position: relative;
}

.info__text {
  opacity: 0.85;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #2d394c;
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__image {
  background: url("../img/info/macbook.jpg") 0 0 no-repeat;
  width: 1026px;
  height: 652px;
  position: relative;
  right: -109px;
  top: -25px;
}

.column__title {
  color: #2d394c;
  opacity: 0.9;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-left: 80px;
}

.column__subtitle {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 28px;
  color: #9499a2;
}

.column__block1::before {
  content: '';
  background: url("../img/info/icon/1-layers.png") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -5px;
  left: 0;
}

.column__block2:before {
  content: '';
  background: url("../img/info/icon/2-layers.svg") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -15px;
  left: 0;
}

.column__block3:before {
  content: '';
  background: url("../img/info/icon/3-layers.svg") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10px;
  left: 0;
}

.column__block4:before {
  content: '';
  background: url("../img/info/icon/4-layers.png") 0 0 no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -15px;
  left: 0;
}

.block {
  width: 482px;
  padding-bottom: 53px;
  position: relative;
}
